/* Style Guide */
/* http://rizzo.lonelyplanet.com/styleguide/design-elements/colours */

/* 
  $darkgrey: #2c3643
  $titlegrey: #3b444f
  $bodygray: #67747c
  $lightgray: #99a9b3
  $subduedgray: #dbe6ec
*/
/* Primary Colors:
  $navblue: #1d508d
  $lpblue: #297CBB
  $linkblue: #288ad6
  $yella: #feef6d
  $orange: #ffc83f
  $red: #fa5e5b
  $green: #16c98d
*/

/* Secondary Pallete:
  $beige: #cfcbaf
  $darkred: #841e1b
  $darkcyan: #47a899
*/
/* ------------------- */

.nav-item {
    padding: 10px 20px 10px 20px;
};

.navBtn {
    background: #53a3d9;
    background-image: -webkit-linear-gradient(top, #53a3d9, #2980b9);
    background-image: -moz-linear-gradient(top, #53a3d9, #2980b9);
    background-image: -ms-linear-gradient(top, #53a3d9, #2980b9);
    background-image: -o-linear-gradient(top, #53a3d9, #2980b9);
    background-image: linear-gradient(to bottom, #53a3d9, #2980b9);
    background: -moz-linear-gradient(top, #267c99 50%, #007299 50%);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #616161 1px;
    text-decoration: none;
}

.navBtn:hover {
    background: #1e1e1f;
    text-decoration: none;
    color: #53a3d9;
}